# AI model cache
memes/cache/

# incoming staging folder
memes/incoming/

# python cache
__pycache__/
*.pyc

# AI model files
*.safetensors
*.pt
*.bin

# EXCEPTION: allow meme embedding bins for website
!memes/embeddings/*.bin